@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
    width: 100vw;
}

div{
    max-width: 100%;
}

.logo{
    font-size: 2em;
}

header{
    height: 80vh;
    width: 100%;
}

.mobile-nav-position{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    height:100vh;
    color: #2F2F2F;
    justify-content: flex-start;
    gap:2em;
    padding:2em;
}

.heading{
    font-size: 1.8em;
    width: 24ch;
}


.sub-heading{
    margin-top: 2em;
    font-size: 1.5em;
}

.card{
    @apply flex flex-col text-white bg-black p-5 rounded-tr-lg rounded-bl-lg justify-center items-center;
    height: fit-content;
    min-height: 40vh;
}

.bg-img-small-screen{
    @apply bg-center bg-cover bg-no-repeat;
    width: 80vw;
    height: 30vh;
    overflow: hidden;
}

.bg-img-large-screen{
   @apply bg-center bg-cover bg-no-repeat;
   height: 30vh;
   width: 25vw;
   overflow: hidden;
}